.container {
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-top: 100px;
}
.action-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sort-by {
  display: flex;
  flex-direction: row;

}
.label {
  margin-right: 10px;
  color: #007bff;
}