.container {
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-top: 100px;
}
.action-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sort-by {
  display: flex;
  flex-direction: row;

}
.label {
  margin-right: 10px;
}
.title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

a {
  color: black !important;
}
.page-item.active .page-link {
  background-color: #aeb1b3 !important;
  border-color: #aeb1b3 !important;
}